<h1>Edit cat:</h1>
<%= form_tag "/cats/#{@cat['id']}", method: :patch do %>
<div>
  <%= label_tag :form_input_name %>
  <%= text_field_tag :form_input_name, @cat['name'] %>
</div>
<div>
  <%= label_tag :form_input_breed %>
  <%= text_field_tag :form_input_breed, @cat['breed']  %>
</div>
<div>
  <%= label_tag :form_input_color %>
  <%= text_field_tag :form_input_color, @cat['color']  %>
</div>
<div>
  <%= label_tag :form_input_age_category %>
  <%= text_field_tag :form_input_age_category, @cat['age_category']  %>
</div>
<%= submit_tag "Update cat" %>
<% end %>

<a href="/cats"> Cancel </a>