<h1>Create a new cat:</h1>
<%= form_tag "/cats", method: :post do %>
<div>
  <%= label_tag :form_input_name %>
  <%= text_field_tag :form_input_name %>
</div>
<div>
  <%= label_tag :form_input_breed %>
  <%= text_field_tag :form_input_breed %>
</div>
<div>
  <%= label_tag :form_input_color %>
  <%= text_field_tag :form_input_color %>
</div>
<div>
  <%= label_tag :form_input_age_category %>
  <%= text_field_tag :form_input_age_category %>
</div>
<%= submit_tag "Create cat" %>
<% end %>

<a href="/cats"> Cancel </a>
